<!DOCTYPE html>
<html>

<head>
    <title>Rumah Kita</title>
    <link href="<%= appLink %>/public/css/reset_password.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="flex-body">
        <div class="flex-header">
            <img src="<%= appLink %>/public/images/Logo.svg">
        </div>
        <div class="flex-content">
            <div class="container-form">
                <div class="button-close">
                    <a href="/login">X</a>
                </div>
                <div class="form-content">
                    <h2 class="email-content mb-3"><b>Masukan Kata Sandi Baru Anda</b>
                        <h5>Kata sandi baru</h5>
                        <div class="container-input">
                            <img src="<%= appLink %>/public/images/lock.png">
                            <input type="password" class="form-control no-line " id="password1" placeholder="Password">
                        </div> <br>
                        <h5>Masukan ulang kata sandi</h5>
                        <div class="container-input">
                            <img src="<%= appLink %>/public/images/lock.png">
                            <input type="password" class="form-control no-line" id="password2" placeholder="Password">

                        </div>
                        <div class="container-send">
                            <div onclick="sendResetPassword('<%= appLink %>')" id="buttonSend" class="button-send">
                                <span>Kirim</span>
                            </div>
                        </div>
                        <script src="https://code.jquery.com/jquery-3.6.0.min.js"
                            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                            crossorigin="anonymous"></script>
                        <script>
                            function sendResetPassword(appLink) {
                                let buttonSend = document.getElementById('buttonSend');
                                let token = location.pathname.split('/')[2];

                                buttonSend.setAttribute('hidden', true);

                                let password1 = document.getElementById('password1');
                                let password2 = document.getElementById('password2');
                                if (password1.value !== password2.value) {
                                    alert('Kedua password tidak sama')
                                    buttonSend.removeAttribute('hidden');
                                } else {
                                    $.ajax({
                                        type: 'PUT',
                                        url: `${appLink}/user/resetpassword`,
                                        data: {
                                            password : password1.value
                                        },
                                        headers : {
                                            'Authorization' : token
                                        },
                                        success: function (res) {
                                            location.replace(`${appLink}/resetpassword/success`);
                                        },
                                        error: function (jqXHR, textStatus, errorThrown) {
                                            let error = JSON.parse(jqXHR.responseText);
                                            alert(error.errorMessage);
                                            buttonSend.removeAttribute('hidden');
                                        }
                                    })
                                }
                            }
                        </script>
                </div>
            </div>
        </div>
    </div>
</body>

</html>