<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>

    <section>
        <div class="container-fluid mb-3">
            <div class="row">
                <div class="col-9 pe-5 ps-0">
                    <div class="container-fluid p-0">

                        <!-- Greetings -->
                        <section>
                            <div class="container-fluid greetings text-white p-5 pb-4">
                                <div class="row pe-5 pb-3 ps-4">
                                    <div class="col-6 d-flex flex-column mt-3">
                                        <% if(data.isLogged==false) { %>
                                            <h2>Selamat pagi,<br>Sayang</h2>
                                            <% } else { %>
                                                <h2>Selamat pagi,<br>
                                                    <%= data.user.name %>
                                                </h2>
                                                <% } %>
                                                    <p class="me-3"><small>“Kamu tidak harus mengendalikan pikiranmu.
                                                            Anda hanya
                                                            harus berhenti membiarkan mereka mengendalikan Anda.”<br>—
                                                            Dan
                                                            Millman</small></p>
                                    </div>
                                </div>
                                <div class="ps-4">
                                    <audio loop id="music-src"
                                        src="https://docs.google.com/uc?export=download&id=1QnfknOaI-MzGeqTaRqz3nD9IRFRorWM1"></audio>
                                    <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
                                    <label class="btn btn-music" for="btn-check" id="music-icon"><i
                                            class="far fa-volume-mute"></i></label>
                                </div>
                            </div>
                        </section>

                        <!-- Main -->
                        <div class="container-fluid pe-3 py-5 ps-5">
                            <div class="row">
                                <div class="col-12" style="border-right: 1px solid #908e8e;">
                                    <div class="container-fluid p-0 pe-4">
                                        <img src="/assets/images/dummy_content.jpeg" alt="dummy"
                                            class="img-fluid min-height-100" style="min-width: 100%">
                                        <div class="my-4">
                                            <h4 class="main-text">
                                                Sehat Tak Cuma Fisik, Semua Juga Harus Sehat Baik Mental Maupun Fisik !
                                            </h4>
                                            <p class="detail"><small>Jum’at, 24 Des 2021 15:00 WIB</small></p>
                                        </div>
                                        <h6 class="detail"><span>Jakarta, CNN Indonesia</span> -- Hari kesehatan jiwa
                                            sedunia atau world mental health day dirayakan pada 10 Oktober setiap
                                            tahunnya. Tahun ini Organisasi Kesehatan Dunia (WHO) mengambil tema Mental
                                            health care for all: let's make it a reality. <br><br>

                                            Kesehatan jiwa memang menjadi hal yang penting untuk diperhatikan, apalagi
                                            di masa pandemi Covid-19. Faktanya tak hanya kesehatan secara fisik yang
                                            terpapar, banyak orang yang merasa depresi akibat pandemi ini. <br><br>

                                            Tak hanya itu, walau tanpapandemi Awareness Day menyebut, setiap tahun satu
                                            dari empat orang dewasa serta satu dari sepuluh anak memiliki masalah
                                            kesehatan jiwa. Kesehatan jiwa yang erganggu bisa berpengaruh terhadap
                                            kehidupan, kemampuan untuk melewati hari, mempertahankan hubungan, bahkan
                                            mempertahankan pekerjaan. <br><br>

                                            Selain itu, stigma yang melekat pada kesehatan mental juga masih cenderung
                                            negatif. Kurangnya informasi dan pengetahuan mempersulit mereka yang memang
                                            memiliki masalah kesehatan jiwa untuk mendapatkan atau mencari bantuan.
                                            Oleh karena itu, penting untuk meningkatkan kesadaran berkaitan dengan
                                            kesehatan jiwa. Hal ini dilakukan untuk mengatasi stigma yang cenderung
                                            negatif berkaitan dengan kesehatan mental. <br><br>

                                            Sejarah kesehatan jiwa sedunia
                                            Federasi kesehatan mental dunia pada 1992 melalui wakil sekretaris jenderal
                                            saat itu, Richard Hunter, menciptakan Hari Kesehatan Jiwa Sedunia. Meski
                                            begitu didirikannya hari kesehatan jiwa ini memang belum ada tujuan pasti
                                            selain mengadvokasi kesehatan mental secara keseluruhan. <br><br>

                                            Dilansir dari National Today, di hampir seluruh negara yang ada di dunia
                                            masih banyak masalah kesehatan mental yang tidak ditangani dengan benar.
                                            Selama tiga tahun pertama, dibuatlah siaran televisi selama dua jam di
                                            seluruh dunia melalui satelit badan informasi AS. <br><br>

                                            Studio tersebut berlokasi di Tallahassee, Florida. Siaran dilakukan untuk
                                            menyampaikan pesan advokasi berkaitan dengan kesehatan mental. Mereka
                                            memiliki partisipan dari Chili, Inggris, Australia, dan Zambia, sementara
                                            Jenewa, Atlanta, dan Mexico City merekam segmen untuk siaran tersebut.Tema
                                            Hari Kesehatan Jiwa Sedunia yang pertama adalah 'Meningkatkan Kualitas
                                            Layanan Kesehatan Mental di Seluruh Dunia' yang dirayakan pada 1994. 27
                                            negara mengirimkan laporan umpan balik setelah kampanye dan ada kampanye
                                            nasional di Australia dan Inggris. <br><br>

                                            Tema Hari Kesehatan Jiwa Sedunia berkembang seiring dengan perkembangan
                                            zaman. Wanita, anak-anak, kesehatan, pekerjaan, trauma, bunuh diri, dan
                                            banyak tema lainnya yang diangkat setiap tahunnya. <br><br><br><br>


                                            <span class="source">
                                                Sumber :
                                                https://www.cnnindonesia.com/gaya-hidup/20211008175103-255-705357/tak-cuma-sehat-fisik-semua-juga-harus-sehat-mental
                                            </span>
                                        </h6>
                                    </div>
                                </div>
                            </div>
                            <div class="container-fluid p-0 pe-4 pt-4 mt-5">
                                <div class="row">
                                    <div class="col-6">

                                        <h4 class="main-text">
                                            Komentar
                                        </h4>
                                        <div class="card border-0 mt-3">
                                            <div class="card-body">
                                                <div class="container-fluid scrollable p-0">
                                                    <% for(let i=0; i<5; i++) { %>
                                                        <div class="d-flex mb-2">
                                                            <div class="flex-shrink-0">
                                                                <img class="rounded-pill"
                                                                    src="/assets/images/dummy_content.jpeg" width="44px"
                                                                    height="44px" alt="...">
                                                            </div>
                                                            <div class="flex-shrink-1 align-self-center pe-5">
                                                                <div class="comment-section rounded px-2 ms-3">
                                                                    <h5 class="name m-0 pt-1">
                                                                        <%= data.user.name %>
                                                                    </h5>
                                                                    <p class="comment pb-1">Betul bangett tuh!
                                                                        pandemi ini malah bikin aku anxiety.</p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                </div>
                                                <div class="dropdown-divider comment-divider my-3"></div>
                                                <% if(data.isLogged==true) { %>
                                                    <div class="d-flex mb-2">
                                                        <div class="flex-shrink-0">
                                                            <img class="rounded-pill"
                                                                src="/assets/images/dummy_content.jpeg" width="44px"
                                                                height="44px" alt="...">
                                                        </div>
                                                        <div class="flex-shrink-1 align-self-center pe-5">
                                                            <div class="d-flex px-2 ms-2">
                                                                <form>
                                                                    <div class="custom-comment">
                                                                        <input type="text"
                                                                            class="form-control custom-comment-input border-0 pe-5 py-1"
                                                                            placeholder="Tulis komentar...">
                                                                        <button class="custom-comment-bottom px-3"
                                                                            type="submit">
                                                                            <i class="far fa-paper-plane"></i>
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } else { %>
                                                        <div class="d-flex flex-column">
                                                            <h6 class="text-center">Masuk untuk menambahkan komentar
                                                            </h6>
                                                            <div class="d-flex justify-content-center mt-2">
                                                                <button type="button"
                                                                    class="btn rounded-pill button-congo-pink btn-sm p-0 px-4">Masuk/Daftar</button>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Menu Bagian Kanan -->
                <div class="col-3 pe-4 ps-0">

                    <!-- Tanggal -->
                    <section>
                        <div class="container-fluid">
                            <div class="date">
                                <div class="d-flex justify-content-center py-2">
                                    <h6>
                                        <%= data.dateNow %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="d-flex justify-content-center mt-4 mb-5">
                        <img src="/assets/images/Saly-39.svg" alt="saly">
                    </div>

                    <section>
                        <% for(let i=0; i<5; i++) { %>
                            <% if(i%2==0) { %>
                                <div class="container-fluid pt-3 px-0">
                                    <div class="d-flex">
                                        <div class="box-heliotrope"></div>
                                        <h6 class="side-text ms-3">
                                            4 Hari Lalu
                                        </h6>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="container-fluid pt-3 px-0">
                                        <div class="d-flex">
                                            <div class="box-congo-pink"></div>
                                            <h6 class="side-text ms-3">
                                                4 Hari Lalu
                                            </h6>
                                        </div>
                                    </div>
                                    <% } %>
                                        <div class="card bg-transparent border-0 mb-3 ms-3">
                                            <div
                                                class="card-body d-flex flex-column justify-content-between min-height-100 ps-2 py-2 pe-3">
                                                <div class="side-content">
                                                    <a href="#">
                                                        <h5 class="card-title title-content side">Kamu Berhak
                                                            Bahagia! 10 Cara
                                                            Menjaga
                                                            Kesehatan Mental</h5>
                                                    </a>
                                                </div>
                                                <p class="card-text side text-start"><small>Senin, 20 Des
                                                        2021 16:30 WIB
                                                    </small></p>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider mx-4"></div>
                                        <% } %>
                    </section>

                    <section>
                        <div class="d-flex flex-column justify-content-end" style="height: 100vh;">
                            <img src="/assets/images/GugGug.gif" alt="guggug">
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>