<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>

    <section>
        <div class="container-fluid mb-3">
            <div class="row">
                <div class="col-9 pe-5 ps-0">
                    <div class="container-fluid p-0">

                        <!-- Greetings -->
                        <section>
                            <div class="container-fluid greetings text-white p-5 pb-4">
                                <div class="row pe-5 pb-3 ps-4">
                                    <div class="col-6 d-flex flex-column mt-3">

                                        <% if(data.isLogged==false) { %>
                                            <h2>Selamat <%= data.timeNow %>,<br>Sayang</h2>
                                            <% } else { %>
                                                <h2>Selamat <%= data.timeNow %>,<br>
                                                        <%= data.user.name %>
                                                </h2>
                                                <% } %>
                                                    <p class="me-3"><small>“Kamu tidak harus mengendalikan pikiranmu.
                                                            Anda hanya
                                                            harus berhenti membiarkan mereka mengendalikan Anda.”<br>—
                                                            Dan
                                                            Millman</small></p>
                                    </div>
                                </div>
                                <div class="ps-4">
                                    <audio loop id="music-src"
                                        src="https://docs.google.com/uc?export=download&id=13wpetfDjL1UTWlLOagzx8zScRraRpqdD"></audio>
                                    <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
                                    <label class="btn btn-music" for="btn-check" id="music-icon"><i
                                            class="far fa-volume-mute"></i></label>
                                </div>
                            </div>
                        </section>

                        <!-- Main -->
                        <div class="row py-5">
                            <div class="col-4">

                                <!-- Daftar / Masuk -->
                                <section>
                                    <% if(data.isLogged==false) { %>
                                        <div class="card border-0 ms-5 me-2">
                                            <div class="card-body">
                                                <h5 class="card-title home">Belum memiliki akun?</h5>
                                                <h6 class="card-subtitle home mb-2">Daftar sekarang dan
                                                    dapatkan
                                                    keuntungan lebih...</h6>
                                                <div class="d-flex justify-content-center pt-3">
                                                    <button type="button"
                                                        class="btn rounded-pill button-congo-pink btn-sm p-0 px-4"
                                                        onclick="location.href='/login'">Masuk/Daftar</button>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Ads -->
                                        <div class="d-flex flex-column justify-content-center ms-5 me-2">
                                            <img src="<%= appLink %>/public/images/ad1.png" alt="ad1"
                                                class="img-fluid mt-4">
                                            <img src="<%= appLink %>/public/images/ad2.png" alt="ad2"
                                                class="img-fluid mt-4">
                                            <img src="<%= appLink %>/public/images/ad2.png" alt="ad2"
                                                class="img-fluid mt-4">
                                        </div>
                                        <% } else { %>
                                            <div class="card border-0 ms-5 me-2">
                                                <div class="card-body">
                                                    <div class="d-flex flex-column bd-highlight">
                                                        <div class="d-flex bd-highlight">
                                                            <div class="flex-shrink-0">
                                                                <img class="rounded-pill"
                                                                    src="<%= appLink %>/public/images/Avatar <%= data.user.avatar%>"
                                                                    width="34px" height="34px" alt="...">
                                                            </div>
                                                            <div class="flex-shrink-1 ms-2" style="max-width: 81%;">
                                                                <h5 class="card-title home p-0 m-0">
                                                                    <%= data.user.name %>
                                                                </h5>
                                                                <h6 class="home">
                                                                    <%= data.user.email %>
                                                                </h6>
                                                            </div>
                                                        </div>
                                                        <div class="dropdown-divider home-divider"></div>
                                                        <div class="d-flex bd-highlight pb-2">
                                                            <button type="button" class="btn d-flex"
                                                                onclick="isNeedToken('/profile')">
                                                                <div class="me-2">
                                                                    <i class="far fa-cog"></i>
                                                                </div>
                                                                <h6 class="home mt-1">
                                                                    Pengaturan</h6>
                                                            </button>
                                                        </div>
                                                        <div class="d-flex justify-content-center bd-highlight">
                                                            <button class="btn button-pale-purple p-0 px-5"
                                                                type="button" data-bs-toggle="collapse"
                                                                data-bs-target="#logoutCollapse" aria-expanded="false"
                                                                aria-controls="logoutCollapse">
                                                                Keluar
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="collapse" id="logoutCollapse">
                                                <div class="card border-0 ms-5 me-2">
                                                    <div class="card-body">
                                                        <h6 class="text-center">Anda Yakin Keluar?</h6>
                                                        <div class="d-flex justify-content-around">
                                                            <button id="logoutButton" type="submit"
                                                                class="btn button-logout ok px-4">OK</button>
                                                            <button class="btn button-logout cancel px-4" type="button"
                                                                data-bs-toggle="collapse"
                                                                data-bs-target="#logoutCollapse" aria-expanded="false"
                                                                aria-controls="logoutCollapse">Batal</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                </section>
                            </div>
                            <div class="col-8">

                                <!-- Menu Utama -->
                                <section>
                                    <div class="d-flex bd-highlight pb-3">
                                        <div class="flex-grow-1 bd-highlight">
                                            <div class="d-flex">
                                                <div class="box-congo-pink"></div>
                                                <h4 class="main-text ms-2">
                                                    Terfavorit Minggu Ini
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="bd-highlight">
                                            <button type="button" class="btn d-flex"
                                                onclick="clickOthers('paling disukai')">
                                                <small class="other">Lihat Lainnya</small>
                                                <div class="ms-2">
                                                    <i class="fas fa-chevron-right"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card content mb-4">
                                        <img class="article card-img-top img-fluid"
                                            src="<%= data.articles.mostPopular[data.articles.mostPopular.length - 1 ].thumbnailPicture %>"
                                            alt="<%= data.articles.mostPopular[data.articles.mostPopular.length - 1].title %>">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-end react">
                                                <div class="d-flex react ms-2">
                                                    <i class="fas fa-eye"></i>
                                                    <small class="ms-1">
                                                        <%= data.articles.mostPopular[data.articles.mostPopular.length -
                                                            1].viewers %>
                                                    </small>
                                                </div>
                                                <div class="d-flex react mx-2">
                                                    <i class="fas fa-bookmark"></i>
                                                    <small class="ms-1">870</small>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-10">
                                                    <a href="/article/<%= data.articles.mostPopular[data.articles.mostPopular.length
                                                    - 1].id %>">
                                                        <h5 class="card-title title-content px-3 pt-3 pb-2">
                                                            <%= data.articles.mostPopular[data.articles.mostPopular.length
                                                                - 1].title %>
                                                        </h5>
                                                    </a>
                                                </div>
                                            </div>
                                            <p class="card-text px-3 pb-3"><small class="main-content">
                                                    <%= data.articles.mostPopular[data.articles.mostPopular.length -
                                                        1].createdAt %>
                                                </small>
                                            </p>
                                        </div>
                                    </div>

                                    <div class="d-flex bd-highlight pt-4 pb-3">
                                        <div class="flex-grow-1 bd-highlight">
                                            <div class="d-flex">
                                                <div class="box-heliotrope"></div>
                                                <h4 class="main-text ms-2">
                                                    Paling Baru Minggu ini
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="bd-highlight">
                                            <button type="button" class="d-flex btn" onclick="clickOthers('terbaru')">
                                                <small class="other">Lihat Lainnya</small>
                                                <div class="ms-2">
                                                    <i class="fas fa-chevron-right"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card content d-flex flex-wrap p-2 mb-3">
                                        <div class="d-flex flex-wrap">
                                            <% for(let i=0; i<9; i++) { %>
                                                <div class="card sec-content border-0 p-3">
                                                    <img src="<%= data.articles.seeOther[i].thumbnailPicture %>"
                                                        class="sec-content card-img-top"
                                                        alt="<%= data.articles.seeOther[i].title %>">
                                                    <div class="sec-content pt-2">
                                                        <a href="/article/<%= data.articles.seeOther[i].id %>">
                                                            <p class="sec-content m-0">
                                                                <%= data.articles.seeOther[i].title %>
                                                            </p>
                                                        </a>
                                                    </div>
                                                    <small class="sec-content">
                                                        <%= data.articles.seeOther[i].createdAt %>
                                                    </small>
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>

                                    <div class="d-flex bd-highlight pt-4 pb-3">
                                        <div class="flex-grow-1 bd-highlight">
                                            <div class="d-flex">
                                                <div class="box-congo-pink"></div>
                                                <h4 class="main-text ms-2">
                                                    Paling Populer
                                                </h4>
                                            </div>
                                        </div>
                                        <div class="bd-highlight">
                                            <button type="button" class="d-flex btn"
                                                onclick="clickOthers('paling populer')">
                                                <small class="other">Lihat Lainnya</small>
                                                <div class="ms-2">
                                                    <i class="fas fa-chevron-right"></i>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="card content p-2">
                                        <div class="d-flex flex-wrap">
                                            <% for(let i=0; i<6; i++) { %>
                                                <div class="card sec-content border-0 p-3">
                                                    <img src="<%= data.articles.mostPopular[i].thumbnailPicture %>"
                                                        class="sec-content card-img-top"
                                                        alt="<%= data.articles.mostPopular[i].title %>">
                                                    <div class="sec-content pt-2">
                                                        <a href="/article/<%= data.articles.mostPopular[i].id %>">
                                                            <p class="sec-content m-0">
                                                                <%= data.articles.mostPopular[i].title %>
                                                            </p>
                                                        </a>
                                                    </div>
                                                    <small class="sec-content">
                                                        <%= data.articles.mostPopular[i].createdAt %>
                                                    </small>
                                                </div>
                                                <% } %>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Menu Bagian Kanan -->
                <div class="col-3 pe-4 ps-0">

                    <!-- Tanggal -->
                    <section>
                        <div class="container-fluid">
                            <div class="date">
                                <div class="d-flex justify-content-center py-2">
                                    <h6>
                                        <%= data.dateNow %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Paling Disukai -->
                    <section>
                        <div class="container-fluid pt-5 pb-3 px-0 ">
                            <div class="d-flex bd-highlight">
                                <div class="flex-grow-1 bd-highlight">
                                    <div class="d-flex">
                                        <div class="box-heliotrope"></div>
                                        <h6 class="side-text ms-1">
                                            Paling Disukai
                                        </h6>
                                    </div>
                                </div>
                                <div class="bd-highlight">
                                    <button type="button" class="d-flex btn p-0 m-0"
                                        onclick="clickOthers('paling disukai')">
                                        <small class="other">Lihat Lainnya</small>
                                        <div class="ms-2">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% for(let i=0; i<3; i++) { %>
                            <div class="card side-card border-0 mb-3">
                                <div class="row g-0">
                                    <div class="col-md-4 p-2">
                                        <img src="<%= data.articles.mostSaved[i].thumbnailPicture %>"
                                            class="img-fluid rounded min-height-100"
                                            alt="<%= data.articles.mostSaved[i].title %>" style="object-fit: cover;">
                                    </div>
                                    <div class="col-md-8">
                                        <div
                                            class="card-body d-flex flex-column justify-content-between min-height-100 ps-2 py-2 pe-3">
                                            <div class="side-content">
                                                <a href="/article/<%= data.articles.mostSaved[i].id %>">
                                                    <h5 class="card-title title-content side">
                                                        <%= data.articles.mostSaved[i].title %>
                                                    </h5>
                                                </a>
                                            </div>
                                            <p class="card-text side text-end"><small>
                                                    <%= data.articles.mostSaved[i].createdAt %>
                                                </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </section>

                    <!-- Spesial Buat Kamu -->
                    <section>
                        <div class="container-fluid pt-3 pb-3 px-0 ">
                            <div class="d-flex bd-highlight">
                                <div class="flex-grow-1 bd-highlight">
                                    <div class="d-flex">
                                        <div class="box-congo-pink"></div>
                                        <h6 class="side-text ms-1">
                                            Spesial Buat Kamu
                                        </h6>
                                    </div>
                                </div>
                                <div class="bd-highlight">
                                    <button type="button" class="d-flex btn p-0 m-0" onclick="clickOthers('spesial')">
                                        <small class="other">Lihat Lainnya</small>
                                        <div class="ms-2">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% for(let i=0; i<3; i++) { %>
                            <div class="card side-card border-0 mb-3">
                                <div class="row g-0 min-height-100">
                                    <div class="col-md-4 p-2">
                                        <img src="<%= data.articles.specials[i].thumbnailPicture %>"
                                            class="img-fluid rounded min-height-100"
                                            alt="<%= data.articles.specials[i].title %>" style="object-fit: cover;">
                                    </div>
                                    <div class="col-md-8">
                                        <div
                                            class="card-body d-flex flex-column justify-content-between min-height-100 ps-2 py-2 pe-3">
                                            <div class="side-content">
                                                <a href="/article/<%= data.articles.specials[i].id %>">
                                                    <h5 class="card-title title-content side">
                                                        <%= data.articles.specials[i].title %>
                                                    </h5>
                                                </a>
                                            </div>
                                            <p class="card-text side text-end"><small>
                                                    <%= data.articles.specials[i].createdAt %>
                                                </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </section>

                    <!-- Kasus -->
                    <section>
                        <div class="container-fluid pt-3 pb-3 px-0 ">
                            <div class="d-flex bd-highlight">
                                <div class="flex-grow-1 bd-highlight">
                                    <div class="d-flex">
                                        <div class="box-heliotrope"></div>
                                        <h6 class="side-text ms-1">
                                            Kasus
                                        </h6>
                                    </div>
                                </div>
                                <div class="bd-highlight">
                                    <button type="button" class="d-flex btn p-0 m-0" onclick="clickOthers('kasus')">
                                        <small class="other">Lihat Lainnya</small>
                                        <div class="ms-2">
                                            <i class="fas fa-chevron-right"></i>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <% for(let i=0; i<3; i++) { %>
                            <div class="card side-card border-0 mb-3">
                                <div class="row g-0 min-height-100">
                                    <div class="col-md-4 p-2">
                                        <img src="<%= data.articles.cases[i].thumbnailPicture %>"
                                            class="img-fluid rounded min-height-100"
                                            alt="<%= data.articles.cases[i].title %>" style="object-fit: cover;">
                                    </div>
                                    <div class="col-md-8">
                                        <div
                                            class="card-body d-flex flex-column justify-content-between min-height-100 ps-2 py-2 pe-3">
                                            <div class="side-content">
                                                <a href="/article/<%= data.articles.cases[i].id %>">
                                                    <h5 class="card-title title-content side">
                                                        <%= data.articles.cases[i].title %>
                                                    </h5>
                                                </a>
                                            </div>
                                            <p class="card-text side text-end"><small>
                                                    <%= data.articles.cases[i].createdAt %>
                                                </small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                    </section>

                    <section>
                        <div class="d-flex flex-column justify-content-end" style="height: 100vh;">
                            <img src="<%= appLink %>/public/images/GugGug.gif" alt="guggug">
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <%- include('../partials/footer.ejs'); %>
    </footer>
</body>
<script src="<% appLink %>/public/js/startup.views.js"></script>
<script src="<%= appLink %>/public/js/user.logout.js"></script>

</html>
