<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="<%= appLink %>/public/css/loginPage.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
        integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <title>Rumah Kita</title>
    <link rel="icon" type="image/x-icon" href="<%= appLink %>/public/images/favicon.svg">
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-transparent">
        <div class="container-fluid">
            <a class="navbar-brand p-3 mx-5" href="/">
                <h5 class="d-none">Rumah Kita</h5>
                <img src="<%= appLink %>/public/images/Logo.svg" alt="Rumah Kita" width="80%" height="80%">
            </a>
        </div>
    </nav>

    <div class="container">

        <button class="btn1">
            <div class="input-group">
                <div class="input-group-prepend"></div>
                <div class="input-group-text"><a href="/welcome"><i class="fas fa-chevron-left"></i></a></div>
                <label>Selamat Datang!</label>
            </div>
        </button>

        <h4 class="say"><b>Mari Bergabung Untuk <br> Berbagi Kisah</b></h4>

        <form id="form-login">
            <div class="form-group">
                <div class="inputWithIcon">
                    <label>Masuk</label>
                    <input id="loginEmail" type="email" name="" class="form-control" placeholder="Alamat Email">
                    <i class="email" aria-hidden="true"></i>
                </div>
            </div>

            <div class="form-group">
                <div class="inputWithIcon">
                    <label>Kata Sandi</label>
                    <input id="loginPassword" type="password" name="" class="form-control" placeholder="Kata Sandi">
                    <i class="lock" ></i>
                </div>
            </div>
            

            <p class="sandi pt-2"><a class="link" href="/forgotpassword">Lupa Kata Sandi?</a> </p>

            <button onclick="userLogin('<%= appLink %>')" class="btn" id="loginButton">
                <h6 class="gradient-color m-0 py-1">Masuk</h6>
            </button>

            <p class="want-signup pt-3">Belum Punya Akun? <a class="link" href="/register">Daftar Disini</a> </p>

        </form>
    </div>
    
    <div id="modal-changes-saved">
        <div class="modal-content-changes-saved">
            <img class="checklist" src="<%= appLink %>/public/images/Checklist.png" alt="Checklist">
            <img class="girl-with-dog" src="<%= appLink %>/public/images/Sally 2.png" alt="girl-with-dog">
            <p class="changes-saved-text">Perubahan Berhasil Disimpan</p>
            <a href="#a" class="close-modal no-line">
                <img class="close-icon" src="<%= appLink %>/public/images/Close.png" alt="close">
            </a>
        </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->
   
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <script src="<%= appLink %>/public/js/user.login.js"></script>
</body>


</html>
