<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head.ejs'); %>
</head>

<body>
    <header>
        <%- include('../partials/header.ejs'); %>
    </header>

    <section>
        <div class="container-fluid mb-3">
            <div class="row">
                <div class="col-9 pe-5 ps-0">
                    <div class="container-fluid p-0">

                        <!-- Greetings -->
                        <section>
                            <div class="container-fluid greetings text-white p-5 pb-4">
                                <div class="row pe-5 pb-3 ps-4">
                                    <div class="col-6 d-flex flex-column mt-3">
                                        <% if(data.isLogged==false) { %>
                                            <h2>Selamat <%= data.timeNow %>,<br>Sayang</h2>
                                            <% } else { %>
                                                <h2>Selamat <%= data.timeNow %>,<br>
                                                        <%= data.user.name %>
                                                </h2>
                                                <% } %>
                                                    <p class="me-3"><small>“Kamu tidak harus mengendalikan pikiranmu.
                                                            Anda hanya
                                                            harus berhenti membiarkan mereka mengendalikan Anda.”<br>—
                                                            Dan
                                                            Millman</small></p>
                                    </div>
                                </div>
                                <div class="ps-4">
                                    <audio loop id="music-src"
                                        src="https://docs.google.com/uc?export=download&id=1QnfknOaI-MzGeqTaRqz3nD9IRFRorWM1"></audio>
                                    <input type="checkbox" class="btn-check" id="btn-check" autocomplete="off">
                                    <label class="btn btn-music" for="btn-check" id="music-icon"><i
                                            class="far fa-volume-mute"></i></label>
                                </div>
                            </div>
                        </section>

                        <!-- Main -->
                        <div class="container-fluid pe-3 py-5 ps-5">

                            <div class="row">
                                <div class="col-12" style="border-right: 1px solid #908e8e;">
                                    <h4 class="main-text">
                                        Daftar Tersimpan
                                    </h4>
                                    <div class="dropdown-divider me-5"></div>

                                    <!-- Artikel Tersimpan -->
                                    <div class="container-fluid p-0 mt-4">
                                        <% if(data.articles.saved.length==0) { %>
                                            <center>
                                                <h5>Kamu belum menyimpan satu artikel pun :(</h5>
                                            </center>
                                            <% } else { %>
                                                <% data.articles.saved.forEach((savedArticle) => { %>
                                                    <div class="d-flex">
                                                        <div class="box-heliotrope me-2"
                                                            style="min-width: 11px; max-height: 30px"></div>
                                                        <div class="card border-0 bg-transparent pb-5">
                                                            <div class="row g-0">
                                                                <div class="col-4">
                                                                    <img src="<%= savedArticle.thumbnailPicture %>"
                                                                        class="img-fluid min-height-100"
                                                                        alt="<%= savedArticle.title %>">
                                                                </div>
                                                                <div class="col-8">
                                                                    <div class="card-body py-0">
                                                                        <a
                                                                            href="/article/<%= savedArticle.id %>">
                                                                            <h5 class="card-title saved m-0">
                                                                                <%= savedArticle.title %>
                                                                            </h5>
                                                                        </a>
                                                                        <small class="saved">
                                                                            <%= savedArticle.createdAt %>
                                                                        </small>
                                                                        <div class="max-lines-5">
                                                                            <p class="card-text saved mt-2">
                                                                                <%= savedArticle.content %>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% }) %>
                                                        <% } %>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Menu Bagian Kanan -->
                <div class="col-3 pe-4 ps-0">

                    <!-- Tanggal -->
                    <section>
                        <div class="container-fluid">
                            <div class="date">
                                <div class="d-flex justify-content-center py-2">
                                    <h6>
                                        <%= data.dateNow %>
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </section>

                    <div class="d-flex justify-content-center mt-4 mb-5">
                        <img src="<%= appLink %>/public/images/Saly-39.svg" alt="saly">
                    </div>

                    <section>
                        <% for(let i=0; i<5; i++) { %>
                            <% if(i%2==0) { %>
                                <div class="container-fluid pt-3 px-0">
                                    <div class="d-flex">
                                        <div class="box-heliotrope"></div>
                                        <h6 class="side-text ms-3">
                                            4 Hari Lalu
                                        </h6>
                                    </div>
                                </div>
                                <% } else { %>
                                    <div class="container-fluid pt-3 px-0">
                                        <div class="d-flex">
                                            <div class="box-congo-pink"></div>
                                            <h6 class="side-text ms-3">
                                                4 Hari Lalu
                                            </h6>
                                        </div>
                                    </div>
                                    <% } %>
                                        <div class="card bg-transparent border-0 mb-3 ms-3">
                                            <div
                                                class="card-body d-flex flex-column justify-content-between min-height-100 ps-2 py-2 pe-3">
                                                <div class="side-content">
                                                    <a href="/article/<%= data.articles.newest[i].id %>">
                                                        <h5 class="card-title title-content side">
                                                            <%= data.articles.newest[i].title %>
                                                        </h5>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="dropdown-divider mx-4"></div>
                                        <% } %>
                    </section>

                    <section>
                        <div class="d-flex flex-column justify-content-end" style="height: 100vh;">
                            <img src="<%= appLink %>/public/images/GugGug.gif" alt="guggug">
                        </div>
                    </section>
                </div>

            </div>
        </div>
    </section>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>