<div class="container-fluid footer">
    <div class="row">
        <div class="col-4 color-footer text-start pt-5">
            <div class="p-5">
                <img src="<%= appLink %>/public/images/Logo.svg" alt="Rumah Kita" width="60%" height="60%">
                <p class="desc mt-3">Our Home. A safe place we built to hear their stressful story without blasphemmy
                </p>
            </div>
            <p class="text-center mx-5">&copy;<small> Semua berita ini milik portal berita terkait. Web ini hanya
                    bertujuan untuk tugas semata.</small></p>
        </div>

        <div class="col-8 image-footer pt-5">
            <div class="pb-4 px-5">
                <div class="row text-white px-4">

                    <!-- Kategori -->
                    <div class="col-6">
                        <h5 class="footer-title">Kategori</h5>
                        <div class="dropdown-divider footer-divider"></div>
                        <div class="pt-2"
                            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='white'/%3E%3C/svg%3E&#34;);"
                            aria-label="breadcrumb">
                            <% for(let i=0; i<data.navItem.length-1; i++) { %>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"></li>
                                    <li class="breadcrumb-item"><a class="link-light" href="<%= data.navItem[i].url %>">
                                            <%= data.navItem[i].name %>
                                        </a></li>
                                </ol>
                                <% } %>
                        </div>
                    </div>

                    <!-- Sumber Berita -->
                    <div class="col-6">
                        <h5>Sumber Berita</h5>
                        <div class="dropdown-divider footer-divider"></div>
                        <div class="pt-2"
                            style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='white'/%3E%3C/svg%3E&#34;);"
                            aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"></li>
                                <li class="breadcrumb-item"><a class="link-light" href="https://www.cnnindonesia.com">CNN Indonesia</a></li>
                            </ol>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"></li>
                                <li class="breadcrumb-item"><a class="link-light" href="https://www.kompas.com">Kompas.com</a></li>
                            </ol>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"></li>
                                <li class="breadcrumb-item"><a class="link-light" href="https://www.cnbcindonesia.com">CNBC Indonesia</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script defer src="https://pro.fontawesome.com/releases/v5.10.0/js/all.js"
    integrity="sha384-G/ZR3ntz68JZrH4pfPJyRbjW+c0+ojii5f+GYiYwldYU69A+Ejat6yIfLSxljXxD"
    crossorigin="anonymous"></script>
<script src="<%= appLink %>/public/js/music.js"></script>
<script src="<% appLink %>/public/js/startup.views.js"></script>
<script src="<%= appLink %>/public/js/user.logout.js"></script>
<script src="<%= appLink %>/public/js/others.js"></script>
<script src="<%= appLink %>/public/js/search.js"></script>
