<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <div class="row collapse navbar-collapse">
            <div class="col-3">
                <a class="navbar-brand p-2 mx-5" href="/home">
                    <h5 class="d-none">Rumah Kita</h5>
                    <img src="<%= appLink %>/public/images/Logo.svg" alt="Rumah Kita" width="60%" height="60%">
                </a>
            </div>
            <div class="col-6 pe-5 ps-0">
                <div class="collapse navbar-collapse ms-5">
                    <ul class="navbar-nav me-auto mt-2">
                        <% if(data.isLogged==false) { %>
                            <% for(let i=0; i<data.navItem.length-1; i++) { %>
                                <li class="nav-item me-3">
                                    <a role="text" class="nav-link <%= data.navItem[i].isActive %>" aria-current="page"
                                        href="<%= data.navItem[i].url %>">
                                        <h6>
                                            <%= data.navItem[i].name %>
                                        </h6>
                                    </a>
                                </li>
                                <% } %>
                                    <% } else { %>
                                        <% data.navItem.forEach(page=> { %>
                                            <li class="nav-item me-3">
                                                <a role="text" class="nav-link <%= page.isActive %>" aria-current="page"
                                                    href="<%= page.url %>">
                                                    <h6>
                                                        <%= page.name %>
                                                    </h6>
                                                </a>
                                            </li>
                                            <% }) %>
                                                <% } %>
                    </ul>
                </div>
            </div>
            <div class="col-3 pe-4 ps-0">
                <div class="collapse navbar-collapse d-flex justify-content-center">
                    <form id="searchForm">
                        <div class="custom-search">
                            <input id="searchInput" type="text" class="form-control custom-search-input border-0 ps-4 pe-5 py-2"
                                placeholder="Cari berita lainnya">
                            <button id="searchButton" class="custom-search-bottom px-3" type="submit">
                                <i class="fal fa-search"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</nav>
